<form method="post" action="/users">
    <label for="name">Name</label>
    <input name="name" type="text" id="name" required>
    <label for="email">Email</label>
    <input name="email" type="email" id="email" required>
    <label for="pass">Password</label>
    <input name="password" type="password" id="pass" required>
    <button type="submit">Submit</button>
</form>


